.footer {
  background: var(--color-body);
  color: var(--color-text);
}
.footer.testnet {
  border-top: 2px red solid;
}

@media (min-width: 640px) {
  .footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  .footerInner {
    max-width: 1024px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
  }
}

.footerCopyright {
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
}

@media (max-width: 640px) {
  .mdiv {
    display: block;
    text-align: center;
    line-height: 1.5em;
  }
}
