.desktopMenu {
  display: none;
}
@media (min-width: 960px) {
  .desktopMenu {
    display: flex;
    align-items: flex-end;
  }
  .desktopMenu a {
    text-decoration: none;
    color: var(--color-grey);
    background: transparent;
    padding: 0px 14px;
    margin-left: 5px;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
  }
  .desktopMenu a.active {
    color: var(--color-menu-active);
    border-bottom: 3px solid var(--color-menu-active);
  }
  .desktopMenu a:hover {
    color: var(--color-menu-hover);
    border-bottom: 3px solid var(--color-menu-hover);
  }
}

