.title {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-cell-title);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.cell {
  min-height: 96px;
  padding: 16px 0;
  border-top: 1px solid var(--color-cell-border);
  box-sizing: border-box;
  text-align: center;
}
